#tag-browser {
  width: 75%;
  padding: 1em;
  margin: 1em auto;
  border: 1px solid black;
  position: relative;
}

#tag-browser .clear-button {
  position: absolute;
  top: 1em;;
  right: 1em;
}

#tag-browser .active {
  background: purple;
  color: white;
}

.description {
  background: purple;
  color: #fff;
  border-radius: 3px;
  padding: 5px;
}

.meta-details {
  background: #3273dc;
  color: #fff;
  border-radius: 3px;
  padding: 5px;
}

.meta-details li strong {
  color: #fff;
}

.tag-list-item:hover {
  color: #fff;
  text-decoration: underline;
}

